TP_2_TADJER_ARRADI/exercice_1/carnet.xsd

<?xml version="1.0"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contact" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="type" type="xs:string" />
                            <xs:element name="lastname" type="xs:string" />
                            <xs:element name="firstname" type="xs:string" minOccurs="0" />
                            <xs:element name="phone" type="xs:long" />
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="street" type="xs:string" />
                                        <xs:element name="number" type="xs:string" />
                                        <xs:element name="city" type="xs:string" />
                                        <xs:element name="zip" type="xs:string" />
                                        <xs:element name="country" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>